Host github.com
	HostName github.com
	User hautera@me.com
	IdentityFile ~/.ssh/github.com-personal
  
Host home-server.local
  HostName home-server.local
  User root
  IdentityFile ~/.ssh/home-server
